body {
/*	background-image: url('http://btweemes.weebly.com/uploads/1/2/1/4/12147002/5409499_orig.jpg');
	background-repeat: no-repeat;*/
	/*text-align: center;*/
}

.card {
	border: 3px solid #CCCCCC;
	font-size: 50px;
}

.selected-card {
	border: 3px solid yellow;
}



	