<div ng-controller="ClassicGameController">
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xm-3">
	<h1> classic set </h1>
			<h3><a ui-sref="home">home</a></h3>
			<h3><a ng-click="startNewGame()">Start New Game</a></h3>
		</div>
	</div>
</div>
	<div class="container">
		<div class="row">
			<div ng-class="{'selected-card': card.selected === true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 card"  ng-repeat="card in cards track by $index" ng-click="selectCard(card)">
			<div class="text-center icon-set-{{card.color}} icon-set-{{card.shape}}-{{card.fill}} icon-set-quantity-{{card.number}}"></div>
			</div> <!-- col-lg-3>
		</div> <!--row -->
	</div> <!-- container -->
	<div class="container">
		<div class="row">
			<h4>Match Count: {{count()}}</h4>
		</div>
	</div>
<div>