<div ng-controller="ClassicGameController">
	<div class="container">
		<nav class="navbar">
			<div class="navbar-text navbar-right">
				<a ng-click="startNewGame()">Start New Game</a>
				<a ui-sref="#">Help</a>
				<a ui-sref="home">Home</a>
			</div>
		</nav>

		<div class="row">
			<div ng-class="{'selected-card': card.selected === true}" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 card"  ng-repeat="card in cards track by $index" ng-click="selectCard(card)">
				<div class="text-center icon-set-{{card.color}} icon-set-{{card.shape}}-{{card.fill}} icon-set-quantity-{{card.number}}"></div>
			</div> <!-- col-lg-3 -->
		</div> <!--row -->

		<div class="row">
			<h4>Match Count: {{count()}}</h4>
		</div>
	</div>
<div>